.order{
    &__detail{
        // &__title{

        // }

        &__item{
            &__image{
                img{
                    width: 80%;
                    height: 80%;
                }
            }
            &__content{
                p{
                    font-size: 25px;
                }
                span{
                    font-size: 15px;
                }
                select{
                    margin-left: 10px;
                    width: 60px;
                }

            }
        }

    }
    // &__total{

    // }
}