.homepage{
   padding: 0 70px;
   &__title{
    text-align: center;
    margin: 20px;
   }
   
   &__button{
      margin-top: 20px;
      text-align: center;
      button{
         width: 180px;
         height: 40px;
      }
      button:hover{
         color: black;
      }
   }
}

