.header{
    padding: 10px 20px;
    &__logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
    }
    &__category{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    &__icon{
        gap: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}