.category{
   padding: 0 70px;
    &__title{
        text-align: start;
        margin-bottom: 20px;
    }

    &__filters{
        display: flex;
        justify-content: flex-end;

        select{
            cursor: pointer;
            text-align: center;
            width: 150px;
            height: 50px;
            border: none;
            font-size: 20px;
            padding-bottom: 20px;

            option{
                background-color: white;
        
            }

            
        }
        
        
    }

    &__listcard{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    &__pagination{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        color: black;
    }
}