.search{
    width: 130px;
    height: 2.5rem;
    border-radius: 10px;
    padding: 0 15px;
    border: 1px solid;
    display: flex;
    align-items: center;
}

input{
    background-color: transparent;
    border: none;
    height: 50px;
    width: 100px;
    font-size: 1.25rem;
    margin-left: 5px;
}

input:focus{
    outline: none;
}

#search-icon{
    color: royalblue;
}